.header {
  position: fixed;
  width: 100%;
  padding: 24px 0;
  margin-bottom: 134px;
  transition: all 1s;

  @media (max-width: $big-tablet-width) {
    padding: 16px 0 16px 0;
    margin-bottom: 34px;
    z-index: 10;
    width: 100%;
  }

  &.open {
    background-color: $bg-green-color;
  }
}

.header__logo {
  @media (max-width: $small-tablet-width) {
    width: 133px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $big-tablet-width) {
    align-items: flex-start;
  }
}

.burger-menu {
  display: none;

  @media (max-width: $big-tablet-width) {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  span {
    @media (max-width: $big-tablet-width) {
      background: $white-color;
      height: 2px;
      width: 16px;
      margin-bottom: 4px;
      transition: all 0.3s;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.active span:nth-child(1) {
    @media (max-width: $big-tablet-width) {
      transform: rotate(45deg) translate(4px, 4px);
    }
  }

  &.active span:nth-child(2) {
    @media (max-width: $big-tablet-width) {
      opacity: 0;
    }
  }

  &.active span:nth-child(3) {
    @media (max-width: $big-tablet-width) {
      transform: rotate(-45deg) translate(4.7px, -4.5px);
    }
  }

  &.active ~ .menu {
    @media (max-width: $big-tablet-width) {
      line-height: 2.8;
      padding: 7px 47px 6px;
      align-items: center;
    }
    @media (max-width: $small-tablet-width) {
      padding: 7px 21px 6px;
      align-items: flex-start;
    }
  }
  &.active ~ .menu .menu__link {
    color: $white-color;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $big-tablet-width) {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    top: 88px;
    background-color: $bg-green-color;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    line-height: 0;
    transition: all 0.5s;
  }

  @media (max-width: $small-tablet-width) {
    top: 60px;
  }
}

.menu__item {
  @media (max-width: $big-tablet-width) {
    overflow: hidden;
  }
}
.menu__link {
  @media (max-width: $big-tablet-width) {
    color: transparent;
  }
}

@media (min-width: $big-tablet-width) {
  .menu__item {
    margin-right: 45px;
    font-size: 16px;
    line-height: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
