* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

$bg-main: #2c8488;
$white-color: #fff;
$bg-green-color: #00616B;
$link-animation: #dfe0e2;

$mobile-width: 375px;
$big-tablet-width: 1024px;
$small-tablet-width: 767px;
$desktop-width: 1439px;

body {
  position: relative;
  min-height: 100vh;
  font-size: 18px;
  margin: 0;
  line-height: 120%;
  font-family: 'Onest', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: $bg-main !important;
  transition: all 0.05s;
  overflow: hidden;

  @media (max-width: $big-tablet-width) {
    overflow: visible;
    font-size: 16px;

    &.open {
      overflow: hidden;
    }

    &.open::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000004a;
    }
  }
}

.body-bg {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  background: url('../assets/images/preview-bg.webp') no-repeat -800px -1599px
    fixed;
  z-index: -1;

  @media (max-width: 1500px) {
    background-position: -980px -1612px;

  }

  @media (max-width: $big-tablet-width) {
    background: url('../assets/images/preview-bg-mob.webp') no-repeat -217px -276px;
    background-attachment: scroll;
  }
  @media (max-width: 841px) {
    background: url('../assets/images/preview-bg-mob.webp') no-repeat -217px -196px;
    background-attachment: scroll;
  }
  @media (max-width: $small-tablet-width) {
    background: url('../assets/images/preview-bg-mob.webp') no-repeat -217px -163px;
    background-attachment: scroll;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $white-color;
  transition: color 0.3s;

  &:focus,
  &:hover
  {
    color: $link-animation;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
